page-cpu-parts {

    .card-background-page{
        
        ion-card{
            position: relative;
            text-align: center;
            width: 100%;
            height: 30%;

        }

        .card-title{
            position: absolute;
            top: 36%;
            font-size: 1.0cm;
            width: 100%;
            font-weight: bold;
            color: #fff
        }

        .card-subtitle{
            font-size: 0.4cm;
            position: absolute;
            top: 60%;
            width: 100%;
            color: #fff;
        }
    }

}
